*/ArchitectEngine
*/imgui.ini
.vscode/
/msvc/packages
/msvc/imgui.ini
/msvc/Debug
/msvc/ArchitectEngine.vcxproj.user
/msvc/Architect.VC.VC.opendb
/msvc/Architect.VC.db
/msvc/.vs/Architect/v14
/msvc/x64/Debug
/src/com_discord_secret.h
/msvc/x64/Debug (DiscordRP)
